atf-source
bl31.elf
config-*
debian-rootfs
dtb-*
idbloader.img
Image-*
linux-5*
linux-modules*
linux-patch-*
md
mkenvimage
mkimage
resize_gpt_disk
resize_gpt_disk.aarch64
rockpi4.img.gz
System.map-*
u-boot-default-env.txt
u-boot-env.bin
u-boot-env.txt
u-boot.itb
u-boot-source
